/* =======================================
    * RESET DOCUMENT HTML *
=========================================*/
*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    color: #212529;
}

img,
svg {
  vertical-align: middle;
}